/* General Resets */
* {
    box-sizing: border-box;
}

body, h1, form {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #e9ecef;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: -20px 0 50px;
}

/* Login Wrapper */
.login-wrapper {
    text-align: center;
    width: 100%;
    max-width: 350px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.1);
}

.logo-wrapper {
    margin-bottom: 2rem;
}

.logo {
    width: 80px; /* Adjust based on your logo's size */
}

.title {
    font-size: 1.8rem;
    color: #495057;
    margin-bottom: 1.5rem;
}

.form-container {
    margin-top: 1rem;
}

/* Form Styling */
.login-form .form-field {
    margin-bottom: 1.5rem;
}

.login-form label {
    display: block;
    text-align: left;
    margin-bottom: .5rem;
    color: #6c757d;
    font-size: 0.9rem;
    font-weight: 600;
}

.login-form input[type="email"],
.login-form input[type="password"] {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    font-size: 0.9rem;
    color: #495057;
    background-color: #fff;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.login-form input[type="email"]:focus,
.login-form input[type="password"]:focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

/* Buttons and Links */
.btn-submit {
    width: 100%;
    padding: 0.75rem;
    font-size: 0.9rem;
    font-weight: 600;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.15s ease-in-out;
}

.btn-submit:hover {
    background-color: #0056b3;
}

.btn-link {
    display: inline-block;
    margin-top: 1rem;
    font-size: 0.8rem;
    color: #007bff;
    text-decoration: none;
    transition: color 0.15s ease-in-out;
}

.btn-link:hover {
    color: #0056b3;
}

.alert {
    font-size: 0.9rem;
    border-radius: 0.25rem;
    margin-bottom: 1.5rem;
    padding: 0.75rem 1.25rem;
    text-align: left;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}