/* Global Styles */
body {
    font-family: 'Inter Tight', sans-serif;
    background-color: #f4f7f6;
    color: #333;
    line-height: 1.6;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

h1 {
    color: #ffffff;
    font-size: 80px!important;
    text-align: center;
}
h3 {
    color: #444;
    font-size: 40px!important;
    text-align: center;
}

/* Navbar & Tabs */
.nav-tabs {
    border-bottom: 2px solid #dee2e6;
}

.nav-link {
    border: none;
    font-size: 16px;
    color: #555;
}

.nav-link.active {
    color: #007bff;
    border-bottom: 3px solid #007bff;
}

/* Card */
.card {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.card-header {
    background-color: #fff;
    border-bottom: 1px solid #eee;
}

/* Form */
.form-control, .form-control-file, .btn-primary {
    border-radius: 0.25rem;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

/* Table */
table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    text-align: left;
    padding: 8px;
}

th {
    background-color: #007bff;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Buttons */
.btn {
    font-size: 14px;
    padding: 8px 12px;
}

.btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-sm {
    padding: 5px 10px;
    font-size: 12px;
}

/* Utilities */
.small-image {
    width: auto;
    max-height: 100px;
    margin-right: 10px;
}
.nav {
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    justify-content: center !important;
}
.rounded-container {
    border-radius: 15px; /* Adjust this value to increase or decrease the roundness */
    padding: 20px;
    border: 1px solid #ccc; /* Optional: adds a border */
    background-color: #f9f9f9; /* Optional: adds a background color */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Optional: adds a subtle shadow */
}
.nav-tabs .nav-link.active {
    color: var(--primary-color, rgb(255, 255, 255)) !important;
    background-color: #fdca40!important;
}